.accessibilityPage {
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.header{
  align-items: center;
  width: 100%;
}
.title {
  font-size: 3.5rem;
  font-weight: bold;
  cursor: pointer;
}
.title:hover{
  color: #555;;
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 20px;
  margin-left: 20px;
  height: 100px;
  cursor: pointer;
}

.subheader {
  font-size: 2rem;
  font-weight: bold;
}

.switches {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.switchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.switchContainer label {
  font-size: 1.2rem;
  color: #333;
}

.switchContainer input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
