.search-results-page {
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .top-bar {
    width: 100%;
    margin-bottom: 30px;
  }
  
  .settings-icon {
    cursor: pointer;
  }
  
  .search-bar-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  
  .search-bar {
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 24px;
    outline: none;
  }
  
  .rpi-label {
    margin-right: 10px;
    font-size: 2.2rem;
    color: red;
    font-weight: bold;
    cursor: pointer;
  }
  
  .results-container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .result-item {
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .result-item h3 {
    margin: 0;
    font-size: 1.25rem;
    color: #4285f4;
  }
  
  .result-item p {
    margin: 10px 0;
    color: #555;
  }
  
  .result-item a {
    color: #006621;
    text-decoration: none;
  }
  
  .result-item a:hover {
    text-decoration: underline;
  }
  

  /* SearchResultsPage.css */

/* SearchResultsPage.css */

.fade-in {
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  opacity: 1;
  animation: fadeOut 0.3s ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

